<div class="container h-100 d-flex flex-row">
	<div class="align-self-center text-center w-100">
		<h1 class="display-4 text-uppercase fw-bold">About</h1>
		<p class="lead">
			Thanks to <a class="fw-bold text-black" href="https://www.tvmaze.com"  target="_blank">TVMaze</a>! <i class="ms-2 bi  bi-emoji-laughing"></i>
		</p>
		<p class="text-black-50">This demo made by <span class="fw-bold">Radouane EL FADEL</span></p>
		<div class="social">
			<a class="text-decoration-none text-black fs-4" href="https://twitter.com/radouanefadel1" target="_blank">
				<i class="bi bi-twitter"></i>
			</a>
			<a class="text-decoration-none text-black fs-4 mx-5" href="https://github.com/radouanefadel" target="_blank">
				<i class="bi bi-github"></i>
			</a>
			<a class="text-decoration-none text-black fs-4" href="https://www.linkedin.com/in/radouanefadel/" target="_blank">
				<i class="bi bi-linkedin"></i>
			</a>
		</div>
	</div>
</div>