<div class="text-center h-100 d-flex flex-row">
	<div class="align-self-center w-100">
		<h1 class="display-4 fw-lighter">
			Welcome to
			<span class="text-uppercase fw-bold">TV info</span>!
		</h1>
		<p>This is the home page.</p>
		<button class="btn btn-lg btn-dark text-warning my-5">
			<i class="bi bi-camera-reels"></i>
			<span class="ms-3 fw-lighter text-uppercase">Explore TV shows</span>
		</button>
		<p class="lead px-3 px-md-5">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, a debitis sunt praesentium quo omnis odio quia eligendi officia, voluptatem aliquam quas repellendus, eius iure sit distinctio? Hic, adipisci consequatur?
		</p>
	</div>
</div>