<footer id="sticky-footer" class="bg-light border-top w-100">
	<div class="py-2">
		<div class="container-fluid container-md py-2">
			<h3 class="text-center fw-bold text-uppercase text-dark">
				Join us!
				<i class="bi bi-emoji-laughing"></i>
			</h3>
			<div class="social d-flex justify-content-center">
				<a id="social-facebook" href="http://facebook.com/" target="_blank">
					<i class="bi bi-facebook"></i>
				</a>
				<a id="social-twitter" href="http://twitter.com/" target="_blank">
					<i class="bi bi-twitter"></i>
				</a>
				<a id="social-youtube" href="http://youtube.com/" target="_blank">
					<i class="bi bi-youtube"></i>
				</a>
				<a id="social-instagram" href="http://instagram.com/" target="_blank">
					<i class="bi bi-instagram"></i>
				</a>
				<a id="social-linkedin" href="http://linkedin.com" target="_blank">
					<i class="bi bi-linkedin"></i>
				</a>
			</div>
			<div class="small text-center pt-3">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iure commodi odit, dicta fugiat facilis repudiandae quos dolores ipsam cum ea nesciunt voluptate molestiae! Nam rem molestiae excepturi vel explicabo!
			</div>
		</div>
	</div>
	<div class="text-center footer-copy py-3">
		<small>
			<span class="fw-bolder text-warning">TV-INFO</span>
			<span class="fw-lighter text-white">@</span>
			<a class="fw-bolder text-white" href="https://www.tvmaze.com/" target="_blank">
				TVMaze
			</a>
		</small>
	</div>
</footer>